body{
background-color: #EAF2F8;
margin: 25;
padding: 25;
}
.form__index{background: #3866f2;
            color: #fff;
            font-family: 'Arial, sans-serif';
            font-weight:900;
            font-size: 2rem;
            padding: 8px;
            border: solid;
            border-radius:8px;
            text-decoration: underline;
            margin-top: 20px;
            }

.form__Enviar{background: #3866f2;
            color: #fff;
            font-family: 'arial';
            font-weight:300;
            font-size: 1rem;
            padding: 8px;
            border: solid;
            border-radius:8px;
            margin-top: 20px;
            }

.form__nota{font-family: "arial";
    font-weight: bolder;
    margin-top: 0px;
    transform: translateY(13px);
    }

.form__number{
    border: solid 1px;
    padding: 2px;
    font-size: 20px;
    border-color: grey;
    border-radius:4px;
    width: 200px;
    height: 20px;
    padding: 5px;
}
.form__formulario{
    border: 1px solid #100;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    max-width: 210px;
}
h1 {
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
}
.form__ejercicio2{
    border: 1px solid #100;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    max-width: 250px;
    margin-top: 30px;
    text-align: center;
}
.form__ejercicio2 textarea {
    margin-bottom: 20px;
    height: 18px

}
